/**
 * @section siteCopyright
 */
.l-siteCopyright {
  color: #464646;
  font: 11px $Arial;
}
.b-siteCopyright {
  margin: 15px 0;
  @include first-last-margin;
  color: $fontGray;
  font-family: $Poppins;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;

  &__link {
    @include underline-hover;
    color: $fontGray;
  }
}
